* {
    padding: 0;
    margin: 0;
    /* border: solid red 1px; */
}

body {
    font-family: 'Noto Serif NP Hmong', serif;
}

nav {
    margin: 1rem 3%;
}

#nav-bar-logo {
    display: inline;
    height: 8rem;
    margin: 1%;
}

h1 {
    font-size: 4vw;
    display: inline;
    color: #4c5c53;
}

.glow-container {
    display: inline;
    text-align: center;
}

.glow-container:hover .glow{
    color: #fff;
    animation: glow 1s ease-in-out infinite alternate;
}

@keyframes glow {
    from {
      text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #dcbc1f, 0 0 40px #dcbc1f, 0 0 50px #dcbc1f;
    }
    to {
      text-shadow: 0 0 20px #fff, 0 0 30px #f3cb14, 0 0 40px #f3cb14, 0 0 50px #f3cb14, 0 0 60px #f3cb14;
    }
  }

main {
    display: flex;
    flex-direction: column;
    margin-bottom: 1%;
}

.main-content {
    overflow: hidden;
}

#slider {
    position: relative;
    width: 500%;
    display: flex;
    animation: 20s slider infinite;
} 

.image {
    width: 20%;
    position: relative;
    text-align: center;
    color: white;
}

.image-title {
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 8vw;
    transform: translate(-50%, -50%);
}

.image-subtitle {
    position: absolute;
    top: 60%;
    left: 50%;
    font-size: max(1vw, 1vh);
    transform: translate(-50%, -30%);
}

.image img {
    margin: 0;
    width: 100%;
    height: 70vh;
    object-fit: cover;
} 

@keyframes slider {
    0% {
        left: 0;
    }
    20% {
        left: 0;
    }
    25% {
        left: -100%;
    }
    45% {
        left: -100%;
    }
    50% {
        left: -200%;
    }
    70% {
        left: -200%;
    }
    75% {
        left: -300%;
    }
    95% {
        left: -300%;
    }
    100% {
        left: -400%;
    }
} 

.secondary-content {
    display: flex;
    justify-content: space-around;
    margin-top: 2%;
}

#reservations {
    margin-left: 2%;
    margin-right: 2%;
}

h2 {
    font-size: 2vw;
}

article {
    border: solid black;
    border-radius: 15px;
    padding: 2%;
}

footer {
    display: flex;
    justify-content: space-around;
    border: solid black;
    border-radius: 15px;
}

/* Add media rules for container class below */
/* For screens where the width is below 600px*/
@media (max-width: 600px) {
    .secondary-content {
        flex: 3;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    article {
        margin-top: 2%;
    }

    #reservations {
        margin-left: 0;
        margin-right: 0;
    }

    .image img {
        margin: 0;
        width: 100%;
        height: 250px;
        object-fit: contain;
    } 

    footer {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        border: solid black;
        border-radius: 15px;
    }
}